# 유동인구 평가요인 거리별 계산

In [1]:
from multiprocessing import Pool # Pool import하기

import multiprocessing
multiprocessing.cpu_count() # 6코어 12processor 확인

40

## 후보지 데이터

In [2]:
from haversine import haversine

# 위경도 입력
Seoul = (37.541, 126.986)  #Latitude, Longitude
Toronto = (43.65, -79.38)

# 거리 계산
haversine(Seoul, Toronto, unit = 'm')

10603855.192138562

In [4]:
import pandas as pd
proposed_site=pd.read_excel('./data/결과주소(layer5+건물x)_결과(행정동).xlsx', engine='openpyxl')
need_proposed_site = proposed_site[['Unnamed: 0','위도','경도','A11','A12','A14','A16','A18','A20','행정동','_PARCEL_AD']]
need_proposed_site.columns=['index','위도','경도','지목명','토지면적','용도지역명1','용도지역명2','토지이용상황','지형높이','행정동','지번주소']
# 후보지 데이터에 좌표 칼럼 추가
need_proposed_site['좌표']=''
for i in range(len(need_proposed_site)):
    need_proposed_site['좌표'][i] = (need_proposed_site['위도'][i],need_proposed_site['경도'][i])

/tmp/ipykernel_20800/668080336.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_proposed_site['좌표']=''
/tmp/ipykernel_20800/668080336.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_proposed_site['좌표'][i] = (need_proposed_site['위도'][i],need_proposed_site['경도'][i])

In [5]:
# trans21_t의 coord_x, coord_y 를 위경도로 변환하여 trans21_lg로 불러옴
# 전처리된 유동인구데이터에 위경도전환한 데이터 
trans21_lg=pd.read_pickle('/data1/SHJ/좌표_튜플.pkl')

trans21_lg.columns = ['T1','T2','T3','T4','T5','T6','T7','좌표']
trans21_lg

# 유동인구 요인변수 2개  
trans21_lg['유소년ㆍ청년ㆍ노년 유동인구'] = trans21_lg['T1']+ trans21_lg['T2'] + trans21_lg['T3'] + trans21_lg['T6']
trans21_lg['중장년 유동인구'] = trans21_lg['T4']+ trans21_lg['T5']

유동인구= trans21_lg[['유소년ㆍ청년ㆍ노년 유동인구','중장년 유동인구','좌표']]
유동인구 # 행정동별 주민등록인구 수 요인변수

         유소년ㆍ청년ㆍ노년 유동인구  중장년 유동인구                                        좌표
0                  6.71      4.34   (36.78560969907209, 127.02686183503569)
1                 19.16      7.97   (36.78741258830925, 127.02685075043442)
2                174.31    112.12  (36.787863310532515, 127.02684797913008)
3                 31.10     18.40    (36.78831403272137, 127.0268452077641)
4               1709.45   1144.65   (36.78921547699581, 127.02683966484727)
...                 ...       ...                                       ...
1058697            0.21      0.32  (36.791466856428706, 127.02626540351343)
1058698           23.52     12.09     (36.782003918946, 127.02688400128098)
1058699           16.90     12.48  (36.782454641582206, 127.02688123071593)
1058700           17.58     11.18     (36.782905364184, 127.02687846008928)
1058701           13.76      7.98  (36.783356086751375, 127.02687568940102)

[1058702 rows x 3 columns]

In [7]:
from tqdm import tqdm

In [ ]:
if __name__ == '__main__':  
    need_proposed_site['유소년ㆍ청년ㆍ노년 유동인구수'] = 0
    need_proposed_site['중장년 유동인구수'] = 0
    for i in tqdm(range(len(need_proposed_site))):
        for j in range(len(유동인구)):
            if haversine(need_proposed_site['좌표'][i],유동인구['좌표'][j], unit = 'm')  <= 500 : # 500m반경내
                need_proposed_site['유소년ㆍ청년ㆍ노년 유동인구수'][i] += 유동인구['유소년ㆍ청년ㆍ노년 유동인구'][j]
                need_proposed_site['중장년 유동인구수'][i] += 유동인구['중장년 유동인구'][j]

/tmp/ipykernel_20800/424194785.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_proposed_site['유소년ㆍ청년ㆍ노년 유동인구수'] = 0
/tmp/ipykernel_20800/424194785.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_proposed_site['중장년 유동인구수'] = 0
  0%|          | 0/2273 [00:00<?, ?it/s]/tmp/ipykernel_20800/424194785.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_proposed_site['유소년ㆍ청년ㆍ노년 유동인구수'][i] += 유동인구['유소년ㆍ청년ㆍ노년 유동인구'][j]
/tmp/ipykernel_20800/424194785.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_proposed_site['중장년 유동인구수'][i] += 유동인구['중장년 유동인구'][j]
 35%|███▌      | 801/2273 [6:20:57<16:10:15, 39.55s/it]

In [ ]:
def do_something():
    print('1초간 잠을 잡니다...')
    time.sleep(1)
    print('잠에서 깨었습니다...')

In [ ]:
if __name__ == '__main__':  
    need_proposed_site['유소년ㆍ청년ㆍ노년 유동인구수'] = 0
    need_proposed_site['중장년 유동인구수'] = 0
    
    for i in tqdm(range(len(need_proposed_site))):
        for j in range(len(유동인구)):
            if haversine(need_proposed_site['좌표'][i],유동인구['좌표'][j], unit = 'm')  <= 500 : # 500m반경내
                need_proposed_site['유소년ㆍ청년ㆍ노년 유동인구수'][i] += 유동인구['유소년ㆍ청년ㆍ노년 유동인구'][j]
                need_proposed_site['중장년 유동인구수'][i] += 유동인구['중장년 유동인구'][j]

In [9]:
need_proposed_site

,index,위도,경도,지목명,토지면적,용도지역명1,용도지역명2,토지이용상황,지형높이,행정동,지번주소,좌표,유소년ㆍ청년ㆍ노년 유동인구수,중장년 유동인구수
0,0,36.782392,127.005628,대,1070.1,일반상업지역,지정되지않음,상업나지,평지,온양1동,충청남도 아산시 온천동 85-1,"(36.78239195, 127.0056275)",22933237.08,12099574.16
1,1,36.777425,127.005741,과수원,1491.0,제2종일반주거지역,지정되지않음,주거나지,평지,온양2동,충청남도 아산시 온천동 130-54,"(36.77742498, 127.0057406)",14549669.24,7214699.04
2,2,36.792304,126.999302,대,1363.0,제2종일반주거지역,지정되지않음,주거나지,평지,온양1동,충청남도 아산시 온천동 1087,"(36.79230426, 126.9993017)",4149524.58,2620256.79
3,3,36.793572,126.999076,주차장,975.0,자연녹지지역,지정되지않음,주거기타,평지,온양1동,충청남도 아산시 온천동 1098,"(36.79357194, 126.9990764)",2310350.62,1448825.00
4,4,36.785831,126.999372,대,1064.8,일반상업지역,지정되지않음,주거나지,평지,온양1동,충청남도 아산시 온천동 1338,"(36.78583083, 126.9993721)",9962053.03,6222103.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2268,2268,36.812654,126.903331,과수원,3807.0,계획관리지역,지정되지않음,과수원,평지,신창면,충청남도 아산시 신창면 신곡리 48-5,"(36.81265381, 126.903331)",248804.45,213817.64
2269,2269,36.812766,126.897723,임야,3362.0,계획관리지역,지정되지않음,과수원,완경사,신창면,충청남도 아산시 신창면 신곡리 산 82,"(36.81276628, 126.8977233)",253426.40,212203.59
2270,2270,36.798774,126.899822,대,998.0,계획관리지역,지정되지않음,주거나지,평지,신창면,충청남도 아산시 신창면 가내리 118,"(36.79877381, 126.8998221)",146582.04,112932.38
2271,2271,36.804541,126.886628,과수원,2940.0,계획관리지역,농림지역,과수원,평지,신창면,충청남도 아산시 신창면 가내리 613-8,"(36.80454108, 126.8866282)",182109.96,141908.78
2272,2272,36.804774,126.887043,임야,953.0,계획관리지역,지정되지않음,토지임야,평지,신창면,충청남도 아산시 신창면 가내리 산 60-2,"(36.8047741, 126.8870428)",182232.46,142003.79

In [10]:
need_proposed_site.iloc[:,12:]

      유소년ㆍ청년ㆍ노년 유동인구수    중장년 유동인구수
0         22933237.08  12099574.16
1         14549669.24   7214699.04
2          4149524.58   2620256.79
3          2310350.62   1448825.00
4          9962053.03   6222103.50
...               ...          ...
2268        248804.45    213817.64
2269        253426.40    212203.59
2270        146582.04    112932.38
2271        182109.96    141908.78
2272        182232.46    142003.79

[2273 rows x 2 columns]

In [12]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler = MinMaxScaler()

In [13]:
# 스케일링 
temp = need_proposed_site.iloc[:,12:] # 12번째 열부터 입지요인에 대한 데이터임
scaler.fit(temp)
need_proposed_site_scaled = scaler.transform(temp)
need_proposed_site_scaled_df = pd.DataFrame(need_proposed_site_scaled)
need_proposed_site_scaled_df

             0         1
0     1.000000  1.000000
1     0.634435  0.596276
2     0.180938  0.216555
3     0.100741  0.119739
4     0.434393  0.514240
...        ...       ...
2268  0.010847  0.017668
2269  0.011049  0.017534
2270  0.006390  0.009330
2271  0.007939  0.011725
2272  0.007944  0.011733

[2273 rows x 2 columns]

In [14]:
# 저장
# 1. 엑셀 파일 열기 w/ExcelWriter
writer = pd.ExcelWriter('후보지평가점수(반경내유동인구).xlsx', engine='xlsxwriter')

# 2. 시트별 데이터 추가하기(1개 시트로 저장할때와 유사)
need_proposed_site.to_excel(writer, sheet_name= '요인별 실값')
need_proposed_site_scaled_df .to_excel(writer, sheet_name= 'scaled_factors')

# 3. 엑셀 파일 저장하기
writer.save()

## 현 도서관

In [15]:
 # 예정입지 도서관별 스코어링
libr=pd.read_excel('./도서관위치좌표.xlsx', engine='openpyxl')

# 후보지 데이터에 좌표 칼럼 추가
libr['좌표']=''
for i in range(len(libr)):
    libr['좌표'][i] = (libr['위도'][i],libr['경도'][i])

/tmp/ipykernel_20800/502950978.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  libr['좌표'][i] = (libr['위도'][i],libr['경도'][i])

In [16]:
libr

   상태            도서관명         위도          경도   행정동                          좌표
0  예정        서부권공공도서관  36.786397  126.950131   신창면   (36.7863968, 126.9501314)
1  예정         배방월천도서관  36.770663  127.078282   배방읍    (36.770663, 127.0782817)
2  예정      배방복합커뮤니티센터  36.774219  127.061364   배방읍  (36.77421858, 127.0613643)
3  예정        음봉어울샘도서관  36.843704  127.068710   음봉면  (36.84370376, 127.0687101)
4   현         아산중앙도서관  36.800203  127.014193  온양5동     (36.800203, 127.014193)
5   현  아산시꿈샘어린이청소년도서관  36.794453  127.004305  온양3동     (36.794453, 127.004305)
6   현        아산시둔포도서관  36.926392  127.040898   둔포면     (36.926392, 127.040898)
7   현        아산시배방도서관  36.773912  127.057794   배방읍     (36.773912, 127.057794)
8   현        아산시송곡도서관  36.791932  126.957919   염치읍     (36.791932, 126.957919)
9   현      아산시탕정온샘도서관  36.794466  127.053943   탕정면     (36.794466, 127.053943)

In [17]:
if __name__ == '__main__':  
    libr['유소년ㆍ청년ㆍ노년 유동인구수'] = 0
    libr['중장년 유동인구수'] = 0
    
    for i in tqdm(range(len(libr))):
        for j in range(len(유동인구)):
            if haversine(libr['좌표'][i],유동인구['좌표'][j], unit = 'm')  <= 500 : # 500m반경내
                libr['유소년ㆍ청년ㆍ노년 유동인구수'][i] += 유동인구['유소년ㆍ청년ㆍ노년 유동인구'][j]
                libr['중장년 유동인구수'][i] += 유동인구['중장년 유동인구'][j]

  0%|          | 0/10 [00:00<?, ?it/s]/tmp/ipykernel_20800/1168572509.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  libr['유소년ㆍ청년ㆍ노년 유동인구수'][i] += 유동인구['유소년ㆍ청년ㆍ노년 유동인구'][j]
/tmp/ipykernel_20800/1168572509.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  libr['중장년 유동인구수'][i] += 유동인구['중장년 유동인구'][j]
100%|██████████| 10/10 [02:12<00:00, 13.21s/it]

In [18]:
libr

,상태,도서관명,위도,경도,행정동,좌표,유소년ㆍ청년ㆍ노년 유동인구수,중장년 유동인구수
0,예정,서부권공공도서관,36.786397,126.950131,신창면,"(36.7863968, 126.9501314)",3711702.73,1773328.66
1,예정,배방월천도서관,36.770663,127.078282,배방읍,"(36.770663, 127.0782817)",4041466.15,2201441.85
2,예정,배방복합커뮤니티센터,36.774219,127.061364,배방읍,"(36.77421858, 127.0613643)",11999660.82,5487084.09
3,예정,음봉어울샘도서관,36.843704,127.068710,음봉면,"(36.84370376, 127.0687101)",4569953.48,2162009.63
4,현,아산중앙도서관,36.800203,127.014193,온양5동,"(36.800203, 127.014193)",1642853.14,1111549.40
5,현,아산시꿈샘어린이청소년도서관,36.794453,127.004305,온양3동,"(36.794453, 127.004305)",2427540.45,1631814.40
6,현,아산시둔포도서관,36.926392,127.040898,둔포면,"(36.926392, 127.040898)",4090543.23,2907354.67
7,현,아산시배방도서관,36.773912,127.057794,배방읍,"(36.773912, 127.057794)",18068080.83,8365427.56
8,현,아산시송곡도서관,36.791932,126.957919,염치읍,"(36.791932, 126.957919)",6857033.22,3262255.52
9,현,아산시탕정온샘도서관,36.794466,127.053943,탕정면,"(36.794466, 127.053943)",345891.87,178288.79

In [19]:
# 스케일링 
temp = libr.iloc[:,6:] # 12번째 열부터 입지요인에 대한 데이터임
scaler.fit(temp)
libr_scaled = scaler.transform(temp)
libr_scaled_df = pd.DataFrame(libr_scaled)
libr_scaled_df

          0         1
0  0.189921  0.194823
1  0.208528  0.247114
2  0.657581  0.648431
3  0.238349  0.242297
4  0.073183  0.113991
5  0.117460  0.177538
6  0.211297  0.333336
7  1.000000  1.000000
8  0.367401  0.376684
9  0.000000  0.000000

In [20]:
# 저장
# 1. 엑셀 파일 열기 w/ExcelWriter
writer = pd.ExcelWriter('현예정도서관평가점수(반경내유동인구).xlsx', engine='xlsxwriter')

# 2. 시트별 데이터 추가하기(1개 시트로 저장할때와 유사)
libr.to_excel(writer, sheet_name= '요인별 실값')
libr_scaled_df.to_excel(writer, sheet_name= 'scaled_factors')

# 3. 엑셀 파일 저장하기
writer.save()